@using Mvc.Models.Dtos;
@model CreateShoppingListDto

<form asp-controller="ShoppingList" asp-action="CreateList">
    <div class="mb-3">
        <label>Liste Adı: </label>
        <input asp-for=ListName type="text" />
    </div>
    <div class="mb-3">
        <label>Açıklama: </label>
        <input asp-for=Description type="text" />
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>