@using Mvc.Models.Dtos;
@model UpdateProductDto

<form asp-controller="Product" asp-action="Update">
    <input type="hidden" asp-for="ProductId" />
    <div class="mb-3">
        <label>Kategori Adı: </label>
        <input asp-for=ProductName type="text" />
    </div>
    <div class="form-group mb-3">
        <label for="categoryList" asp-for="CategoryId">Kategori</label>
        <select id="categoryList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))">
            <option></option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ProductImage" asp-for="ProductImage"></label>
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.ProductImage)" width="80" height="80" />
        <span asp-validation-for="ProductImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="thumnailUpload" asp-for="ProductImageFile">Küçük Resim</label>
        <input asp-for="ProductImageFile" class="form-control-file" accept="image/*" type="file" id="thumbnailUpload" />
        <span asp-validation-for="ProductImageFile" class="text-danger"></span>
    </div>    
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>