@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Navbar'dan yapmak istediğiniz işlemle ilgili sayfaya gidebilirsiniz</p>
    }
    else
    {
        <p>İşlem gerçekleştirmek için giriş yapın.</p>
    }
</div>
